@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #08088A !important;
}
 
#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

body {
  background-color: blue;
}
