<h1 align="center">Listing All Categories</h1>
<div class="center">
  <%= will_paginate @categories, list_classes: %w(pagination justify-content-center) %>
  <% @categories.each do |category| %>
    <ul class="listing">
      <div class="row">
        <div class="card col-md-4 offset-4">
          <li class="article-title">
            <%= link_to "#{category.name}", category_path(category) %>
          </li>
          <li>
            <small>
              <%= pluralize(category.articles.count, "article") %>
            </small>
          </li>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate @categories, list_classes: %w(pagination justify-content-center) %>
</div>

